# For building an API - see server.py
Flask==1.0.2
# https://pypi.org/project/Flask/

# services.core.NotificationService
slackclient==1.3.0
# https://pypi.org/project/slackclient/
# loggly-python-handler==1.0.0
# https://pypi.org/project/loggly-python-handler/

# services.core.DockerService
docker==4.2.0
# https://pypi.org/project/docker/

# services.core.HttpService
pysocks==1.6.8
# https://pypi.org/project/PySocks/

# services.core.LogService
pyyaml==5.1
# https://pypi.org/project/PyYAML/

# Utilities.code.DateUtils
python-dateutil==2.7.3
# https://pypi.org/project/python-dateutil/

# Testing framework of choice
pytest==4.6.3
# https://pypi.org/project/pytest/

# For development 
pylint==2.1.1

# For HTML parsing
# beautifulsoup4==4.7.1
# https://pypi.org/project/beautifulsoup4/
# lxml==4.3.4
# https://pypi.org/project/lxml/

# For ML
# tensorflow==2.1.0
# https://pypi.org/project/tensorflow/
# pytorch
# https://pypi.org/project/pytorch/
